body {
    background-color: #000;
    color: #fff;
    margin: 20;
    font-family: Arial, sans-serif;
    margin: 20px;
}

.header-icons { 
    display: flex; 
    justify-content: space-between; /* maison à gauche, panier à droite */ 
    align-items: center; 
    margin-bottom: 20px; 
}

.header-icons img {
    width: 40px;
    cursor: pointer;
}

.lien-realisateur { 
    color: #0077ff; 
    text-decoration: none; 
    font-weight: bold; 
} 
.lien-realisateur:hover { 
    text-decoration: underline; 
}

.film-left img { 
    width: 100%; 
    border-radius: 10px; 
    border: 4px solid #0077ff;
}

.page-film {
    display: flex;
    gap: 40px;
}

.film-center h1 {
    color: #0077ff;
}

.btn-bande-annonce { 
    display: inline-block; 
    margin-top: 15px; 
    padding: 10px 15px; 
    background-color: #0077ff; 
    color: white; 
    text-decoration: none; 
    border-radius: 8px; 
    text-align: center; 
    font-weight: bold; 
} 
.btn-bande-annonce:hover { 
    background-color: #005fcc; 
}

/* --------- COLONNE GAUCHE (AFFICHE) --------- */

.film-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200px;
}

.film-left img {
    width: 100%;
    border-radius: 10px;
}

/* --------- COLONNE CENTRALE (INFOS FILM) --------- */

.film-center {
    flex: 1;
    flex-direction: column;
    gap: 30px;
    max-width: 900px;
}

.film-center h1 {
    margin-top: 60px;
}

.film-center button {
    padding: 10px 15px;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
    flex-direction: column;
}

.film-center button:hover {
    background-color: #005fcc;
    flex-direction: column;
}

/* --------- AVIS --------- */

#toggle-avis {
    color: #0077ff;
    text-decoration: none;
}

#toggle-avis:hover {
    text-decoration: underline;
}

/* --------- SUGGESTIONS "VOUS POURRIEZ AIMER" --------- */

.film-right { 
    background-color: #080808; 
    padding: 20px; 
    border-radius: 10px;
    border: 4px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    width: 250px; /* largeur fixe */ 
    align-self: flex-start; /* évite qu’il s’étire verticalement */ 
    margin-top: 60px;
}

.suggestion-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.suggestion-item img {
    width: 60px;
    height: 90px;
    object-fit: cover;
    border-radius: 6px;
}

.suggestion-info h3 {
    margin: 0;
    font-size: 16px;
}

.suggestion-info a {
    color: #0077ff;
    text-decoration: none;
    font-size: 14px;
}

.suggestion-info a:hover {
    text-decoration: underline;
}
